@model LoginViewModel

@{
    ViewData["Title"] = "ErrorEnable2FA";
}
 
<h1>Enter code from authenticator app</h1>
 
<br />

<form method="POST">
    <div class="form-group">
        <input class="form-control" placeholder="MFA Code" autofocus>
    </div>
    <button class="btn btn-primary" name="button" value="loginWithMfa">Login</button>
</form>
 
<br />